div{
  margin: 0;
  position: absolute;
  top: 30%;
  left: 35%;
  width: 500px;
  height: 350px;
  background-color:blue;
  animation-name: gigi;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
    transition: 3s;
  
}

@keyframes gigi{
  0%{
  background: blue;
}
100% {
  background: red;
}
    from{
      transform: rotate(0);
     
    }
    to{
      transform: rotate(360deg);
     
    }
}





